# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files
.actionScriptProperties
.project
.flexLibProperties


.FlexUnitSettings/FlexUnitApplicationLastRun.xml
.FlexUnitSettings/FlexUnitApplicationLastSelection.xml
lib/
src/FlexUnitApplication.as
